#navigation-bar {
    padding-top: 15px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
}

#sub-bar {
    position: fixed;
    top: 80px;
    width: 100%;
    z-index:5;
}


#welcome-bar {
	margin-top: 50px;
}


#contenu {
	margin-top: 250px;
}

/* menu vertical */
#main-row #contenu {
	margin-top:135px
}

#sidebar-content {
	margin-top:135px;
}

/* sans menu */

#navigation_bar {
	margin-top:-100px;
}